/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.block {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-1 {
  background-image: url('img/1.png');
  height: 300px;
}

.block-2 {
  background-image: url('img/2.png');
  height: 600px;
}

.block-3 {
  background-image: url('img/3.png');
  height: 400px;
}


.additional-text {
  text-align: center;
  color: black;
  padding: 0px;
}

.rsvp {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rsvp-text {
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

/* Media Queries */
@media (min-width: 768px) {
  .block-1 {
    height: 400px;
  }

  .block-2 {
    height: 600px;
  }

  .block-3 {
    height: 500px;
  }
}

.hr {
color: #DBDFEA;
width: 400px;
}

.big-text {
  font-size: 50px;
}

.task-line {
  margin: 10px 0;
}

.task-line:nth-child(3),
.task-line:nth-child(4) {
  margin-top: 5px;
}

.task-line .time {
  display: inline-block;
  margin-left: 5px;
}

.her_von {
font-family: 'Herr Von Muellerhoff', cursive;
margin-bottom: 5px;
margin-top: 0px;
}

.alef {
font-family: 'Alef', sans-serif;
font-size: 40px;
}

.alice {
font-family: 'Alice', serif;
font-size: 11px;
letter-spacing: 3px;
}

/* font-family: 'Dancing Script', cursive; */
.script {
font-family: 'Kaushan Script', cursive;
}

.lato {font-family: 'Lato', sans-serif;
}

.suez {font-family: 'Suez One', serif;}


.opening {
margin-block-end: 0px;
letter-spacing: 0.5px;
}

.day {
font-size: 45px;
margin-block-end: 0px;
margin-block-start: 3px;
font-family: 'Open Sans', sans-serif;
}

.date {
font-size: 35px;
margin-bottom: 10px;
margin-block-start: 0px;
}

.ulam {
margin-block-end: 0px;
}

.place {
font-size: 20px;
margin-block-start: 0px;
margin-block-end: 2px;

}

.receiving {
padding-left: 30px;
margin-block-start: 0px;
margin-block-end: 0px;
}

.receiving2 {
padding-right: 5px;
padding-left: 25px;
margin-top: 10px;
}



.time {
padding-right: 30px;
margin-block-start: 0px;
margin-block-end: 0px;
}

.time1 {
padding-right: 40px;
}

.time2 {
padding-left: 6px;
margin-top: 10px;
}

.parent-top {
  margin-top: 15px;
}

.parent {
  text-align: center;
}
.child {
  display: inline-block;
  vertical-align: middle;
}

.parents1 {
font-size: 12px;
padding-left: 110px;
}
.parents2 {
font-size: 12px;
padding-right: 100px;
}



